In [19]:
import pandas as pd
import numpy as np
import os

In [20]:
# 현재 작업중인 디렉토리
os.getcwd()

'c:\\python\\ind_project'

In [21]:
df=pd.read_csv('상영관_2024.csv')

In [22]:
# # 내 컴퓨터의 필요한 파일을 찾는 방법
# file_path='ind_project/상영관_2024.csv'
# if os.path.exists(file_path):
#     df=pd.read_csv(file_path)
#     print(df.head())
# else:
#     print(f'찾을 수 없음')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  613 non-null    int64
 1   광역단체        613 non-null    object
 2   기초단체        613 non-null    object
 3   영화상영관코드     613 non-null    int64
 4   영화상영관명      613 non-null    object
 5   총 스크린수      613 non-null    int64
 6   총 좌석수       613 non-null    object
 7   필름 상영관수     613 non-null    int64
 8   2D 상영관수     613 non-null    int64
 9   3D 상영관수     613 non-null    int64
 10  4D 상영관수     613 non-null    int64
 11  IMAX 상영관수   613 non-null    int64
 12  상설여부        613 non-null    object
 13  특별관운영여부     0 non-null      float64
 14  가입여부        613 non-null    object
 15  전송사업자명      612 non-null    object
 16  개관일         598 non-null    object
 17  영업상태        613 non-null    object
 18  운영형태        613 non-null    object
 19  주소          605 non-null    object
 20  전화번호        523 non-null    object
 21  홈페이지        457 non-null    object
dtypes: float64(1), int64(8), object(13)
memory usage: 105.5+ KB

In [24]:
# 총 좌석수의 데이터 타입 object를 int64로 바꾸는 방법 / 

# 문자열을 결측값 np.nan으로 변환
df['총 좌석수']=df['총 좌석수'].replace({'':np.nan,'NaN':np.nan,'abc':np.nan})

# 결측값을 0으로 채우기
df['총 좌석수']=df['총 좌석수'].fillna('0')

#문자열에서 쉼표 제거 후 정수로 변환
df['총 좌석수']=df['총 좌석수'].str.replace(',','').astype('int64')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  613 non-null    int64
 1   광역단체        613 non-null    object
 2   기초단체        613 non-null    object
 3   영화상영관코드     613 non-null    int64
 4   영화상영관명      613 non-null    object
 5   총 스크린수      613 non-null    int64
 6   총 좌석수       613 non-null    int64
 7   필름 상영관수     613 non-null    int64
 8   2D 상영관수     613 non-null    int64
 9   3D 상영관수     613 non-null    int64
 10  4D 상영관수     613 non-null    int64
 11  IMAX 상영관수   613 non-null    int64
 12  상설여부        613 non-null    object
 13  특별관운영여부     0 non-null      float64
 14  가입여부        613 non-null    object
 15  전송사업자명      612 non-null    object
 16  개관일         598 non-null    object
 17  영업상태        613 non-null    object
 18  운영형태        613 non-null    object
 19  주소          605 non-null    object
 20  전화번호        523 non-null    object
 21  홈페이지        457 non-null    object
dtypes: float64(1), int64(9), object(12)
memory usage: 105.5+ KB

In [28]:
screen_sum=df[['총 스크린수','총 좌석수']].sum()
print(screen_sum)

총 스크린수      3457
총 좌석수     478365
dtype: int64

In [32]:
site_total=df[['필름 상영관수','2D 상영관수','3D 상영관수','4D 상영관수','IMAX 상영관수']].sum()
print(site_total)

필름 상영관수        36
2D 상영관수      3453
3D 상영관수       986
4D 상영관수        53
IMAX 상영관수      19
dtype: int64

In [106]:
# 상영관그룹 열 생성
df['상영관그룹']=df['영화상영관명'].apply(lambda x:'CGV' if 'CGV' in x else ('롯데시네마' if
                '롯데시네마' in x else('메가박스' if '메가박스' in x else '기타')))

# 상영관그룹의 그룹별 개수 계산
group_count=df['상영관그룹'].value_counts()

# 숫자형데이터만 선택
df_numeric=df.select_dtypes(include='number')

# 그룹별 합계 계산
grouped_sum=df_numeric.groupby(df['상영관그룹']).sum()

#그룹별 개수와 합계 결합
grouped_sum['극장수']=grouped_sum.index.map(group_count)


# print(grouped_sum)

grouped_sum.head()

,Unnamed: 0,영화상영관코드,총 스크린수,총 좌석수,필름 상영관수,2D 상영관수,3D 상영관수,4D 상영관수,IMAX 상영관수,특별관운영여부,행 합계,열 합계,극장수
상영관그룹,,,,,,,,,,,,,
CGV,68686,1190073,1388,202121,14,1400,461,41,19,0.0,0.0,0.0,196
기타,46325,884349,320,35011,22,316,96,0,0,0.0,0.0,0.0,149
롯데시네마,44447,857354,951,139478,0,959,303,11,0,0.0,0.0,0.0,149
메가박스,28120,719373,798,101755,0,778,126,1,0,0.0,0.0,0.0,119

In [111]:
total_sum=grouped_sum[['극장수','총 스크린수','총 좌석수']]
total_sum.head()

       극장수  총 스크린수   총 좌석수
상영관그룹
CGV    196    1388  202121
기타     149     320   35011
롯데시네마  149     951  139478
메가박스   119     798  101755

In [116]:
#극장별 평균을 구하기
total_sum['스크린평균']=total_sum['총 스크린수']/total_sum['극장수']
total_sum['좌석평균']=total_sum['총 좌석수']/total_sum['총 스크린수']


total_sum.head()

C:\Users\권병균\AppData\Local\Temp\ipykernel_23604\3535364522.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_sum['스크린평균']=total_sum['총 스크린수']/total_sum['극장수']
C:\Users\권병균\AppData\Local\Temp\ipykernel_23604\3535364522.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_sum['좌석평균']=total_sum['총 좌석수']/total_sum['총 스크린수']

       극장수  총 스크린수   총 좌석수     스크린평균        좌석평균
상영관그룹
CGV    196    1388  202121  7.081633  145.620317
기타     149     320   35011  2.147651  109.409375
롯데시네마  149     951  139478  6.382550  146.664564
메가박스   119     798  101755  6.705882  127.512531

In [117]:
total_sum.to_csv('theater_total.csv',encoding='utf-8')

print("'theater_total.csv'로 저장되었습니다")

'theater_total.csv'로 저장되었습니다